* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

a:hover {
  color: seagreen;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: seagreen;
}

#titulo {
  color: rgb(214, 212, 212);
  margin-top: 10px;
}

#navigation ul {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
}

nav ul li {
   list-style: none;
   padding: 10px 5px 20px 15px;
}

#navigation a {
  background-color: seagreen;
  margin: 10px;
  padding: 10px;
  border: 1px solid seagreen;
}

#navigation a:hover {
  color: white;
}

.lessonslist_aprendidas, .lessonslist_aprender {
  font-size: 15px;
  color: blue;
  line-height: 50px;
  font-family: Verdana, Tahoma, sans-serif;
}

.lessonslist_aprendidas{ 
  margin-left: 15px;
}

.lessonslist_aprender {
  margin-left: 100px;
}

.lado-esquerdo {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 10px;
}

.lado-direito {
  display: inline-block;
  margin-left: 30px;
}